.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0.5rem;
  overflow: auto;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  width: 827px;
  gap: 1rem;
  padding: 1.5rem;
  padding-top: 0.5rem;
  background-color: black;
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
}

.header {
  padding-top: 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.blocksContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.code {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  color: white;
  border-radius: 0.25rem;
  background-color: #0f172a;
}